<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-app="jaySiteApp">
<div ng-controller="TimeLapseCtrl as controller">
	<div class="videogular-container">
		<videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url">
			<vg-media vg-src="controller.config.sources">
			</vg-media>
			<vg-buffering></vg-buffering>
			<vg-poster vg-url='controller.config.plugins.poster' vg-stretch="'fill'"></vg-poster>
		</videogular>
	</div>
	<div class="playlist">
		<ul>
			<li><a ng-click="controller.setVideo(0)">
				<button class="btn btn-primary">Vehicle Wrap Time Lapse 1/3</button>
			</a></li>
			<li><a ng-click="controller.setVideo(1)">
				<button class="btn btn-primary">Vehicle Wrap Time Lapse 2/3</button>
			</a></li>
			<li><a ng-click="controller.setVideo(2)">
				<button class="btn btn-primary">Vehicle Wrap Time Lapse 3/3</button>
			</a></li>
		</ul>
	</div>
</div>
</div>

<footer class="footer">
  <div class="container">
      <p>| A to Z Unlimited Graphic Installations |
        <a href="mailto:atozunlim@aol.com">E-Mail</a> |
        <em>Phone</em>: 914.584.1159 |
        <em>Fax</em>: 914.665.7827 | 
      </p>
      <p>| <img src="http://res.cloudinary.com/lkdz9kjae/image/upload/v1439924509/pdaa_certified_logo_axzoye.png" class="small-image" alt="Oops! Not Today"> |
	<img src="http://res.cloudinary.com/lkdz9kjae/image/upload/v1439924495/3M_CertGIC-1_n25pxz.jpg" class="small-image" alt="Oops! Not Today"> | 
	<img src="http://res.cloudinary.com/lkdz9kjae/image/upload/v1439924524/uasg_logo_chjbur.jpg" class="small-image" alt="Oops! Not Today"> |
	<img src="http://res.cloudinary.com/lkdz9kjae/image/upload/v1439924513/sgia_logo_oogo1b.gif" class="small-image" alt="Oops! Not Today"> |
  </div>
</footer>

